* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body {
  background: #e9eef5;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
}

/* LEFT PANEL */
.left {
  width: 35%;
  background: linear-gradient(135deg, #1d2b64, #1e90ff);
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
}

.left .inner {
  text-align: center;
}

.left .icon {
  width: 150px;
  height: 150px;      
  object-fit: cover;  
  border-radius: 12px; 
   margin-bottom: 20px;
}

.left h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

.left p {
  font-size: 14px;
  margin-bottom: 25px;
  opacity: 0.8;
}

.login-btn {
  padding: 10px 35px;
  border: none;
  background: white;
  color: #1d2b64;
  border-radius: 25px;
  cursor: pointer;
  font-weight: 600;
}

/* RIGHT PANEL */
.right {
  width: 65%;
  background: white;
  border-top-left-radius: 60px;
  border-bottom-left-radius: 60px;
  padding: 50px 60px;
}

.title {
  text-align: center;
  margin-bottom: 25px;
  font-size: 26px;
  color: #333;
}

/* FORM GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 18px;
}

.grid input,
.grid select {
  width: 100%;
  padding: 12px;
  border-radius: 8px;
  border: 1px solid #d0d0d0;
  font-size: 14px;
}

.register-btn {
  width: 180px;
  margin: 25px auto 0;
  display: block;
  padding: 12px;
  border: none;
  background: #1e90ff;
  color: white;
  font-size: 15px;
  font-weight: 600;
  border-radius: 25px;
  cursor: pointer;
}

.register-btn:hover {
  background: #0c6cd1;
}
